<section id="bildung">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>BILDUNG</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            <b>Master of Science in Commercial Vehicle Technology</b>
        </p>
        <p>
           <i>Technische Universität Kaiserslautern, Deutschland</i>
           <li>Gesamtnote: 1.7 (aktuell)</li>
        </p>
      </div>
	    <div class="col-sm-6">
    		<p>
            <b>Bachelor of Technology in Mechanical Engineering</b>
        </p>
        <p>
           <i>SCMS School of Engineering and Technology, Kerala, Indien</i>
           <li>Gesamtnote: 8.39/10</li>
        </p>
	    </div>
    </div>
  </div>
</section>
