<section id="projekt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Projekte</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
		<p>
            <b>Energiemanagementsysteme in Elektro- und Hybridfahrzeugen</b>
        </p>
        <p>
           <li>Entwicklung eine Energiemanagementstrategie für ein paralleles Hybrid-Elektrofahrzeug mit MATLAB und SIMULINK</li>
           <li>Dynamic programming and Rule-based strategy</li>
           <i>Mentor: <a target="_blank" rel="noopener noreferrer" href="https://www.eit.uni-kl.de/en/jem/team/">apl. Prof. Dr.-Ing. Daniel Görges</a></i>
        </p>
		<p>
            <b><a target="_blank" rel="noopener noreferrer" href="https://github.com/febin-varghese/Enterprise-Data-Science">Introduction to data science</a></b>
        </p>
        <p>
           <li>Einarbeitung in den Data Science Workflow</li>
           <li>Visualisierung der COVID-19-Pandemie</li>
           <li>Modellentwicklung und Vorhersage des COVID-19-Trends</li>
           <i>Mentor: <a target="_blank" rel="noopener noreferrer" href="https://ems.eit.uni-kl.de/en/staff/frank-kienle/">PD DR.-ING. HABIL. Frank Kienle</a></i>
        </p>
      </div>
	    <div class="col-sm-6">
			<p>
            <b><a target="_blank" rel="noopener noreferrer" href="https://github.com/febin-varghese/simply-optimize">Simply Optimize</a></b>
        </p>
        <p>
           <li>Eine Web-Anwendung zur Visualisierung von Optimierungs-Trajektorien auf 2D-Funktionen</li>
           <li>Implementierung mit Python, Plotly und Dash</li>
           <i>Deployed auf <a target="_blank" rel="noopener noreferrer" href="https://simply-optimize.herokuapp.com/">Heroku</a></i>
        </p>

	    </div>
    </div>
  </div>
</section>
