<section id="projekt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Projekte</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            <b>Masterarbeit bei ZF Friedrichshafen AG, Friedrichshafen</b>
        </p>
        <p>
           <li>Methodology Development for Simulative Efficiency Optimization of Vehicle Powertrains.</li>
           <li>Optimierung eines Brennstoffzellen-Batterie-Hybrid-Elektrofahrzeugs</li>
           <li>Optimierung der Schaltstrategie von Elektro-Lkw</li>
        </p>
			<p>
            <b>Softwareentwickler (Praktikum) bei ZF Friedrichshafen AG, Friedrichshafen</b>
        </p>
        <p>
           <li>Tool Entwicklung für die Zugkraftberechnung</li>
           <li>Entwicklung interaktiver Visualisierungstools</li>
           <li>Entwicklung Grafischer Benutzeroberflächen (GUI)</li>
        </p>

      </div>
	    <div class="col-sm-6">
    		<p>
            <b>Pflichtprojektarbeit in MAGNA Powertrain, Untergruppenbach</b>
        </p>
        <p>
           <li>Analyse des Einflusses der Mikrogeometrie von Verzahnungen auf die Übertragungsverluste.</li>
           <li>Mathematische Modellierung von Getrieben</li>
           <li>Automatische Berichterstellung</li>
           <li>Tool-Entwicklung zur Visualisierung der Kennlinien von Elektromotoren</li>
        </p>
	    </div>
    </div>
  </div>
</section>
